*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 251, 185);
}
h1{
    width: 100vw;
    /* border: 1px solid black; */
    padding: 10px;
    text-align: center;
}
.container{
    margin: 20px;
}
a{
    display: block;
    /* border: 1px solid red; */
    line-height: 40px;
    width: max-content;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: red;
    font-size: 20px;
}
footer{
    padding: 30px 0 30px 0;
    width: 100vw;
    position: absolute;
    bottom: 0;
    text-align: center;
}
footer p{
    margin: 10px;
}